<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>notícias</title>
  <a href= "https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"></a>
</head>
<body>
	<h2>Brasil ultrapassa marca de 50% da população adulta vacinada contra a Covid-19</h2><p>São mais de 80 milhões de brasileiros adultos imunizados contra a doença. O Brasil ultrapassou a marca de 50% da população adulta vacinada contra a Covid-19 com as duas doses ou a dose única da Janssen. Com isso, são mais de 80 milhões de brasileiros completamente imunizados. </p>

  <h2>Versão chinesa do TikTok limita uso por adolescente a 40 minutos diários</h2><p>Analistas acreditam que implementação voluntária de restrição de tempo é para se antecipar a possíveis regulamentações; China já impôs limite a jogadores online.  versão chinesa do aplicativo TikTok está introduzindo um “modo adolescente” que limitará a quantidade de tempo que adolescentes menores de 14 anos passam no plataforma de vídeos curtos a 40 minutos por dia.
A medida será aplicada a todos os usuários Douyin, o TikTok chinês, com menos de 14 anos que se registraram no aplicativo usando seus nomes reais, anunciou o ByteDance, de Pequim, em um comunicado no sábado.
O aplicativo também estará indisponível para esses usuários das 22h e às 6h, acrescentou o proprietário do Douyin.
A empresa também pediu aos pais que ajudassem seus filhos a se registrarem com nomes reais ou, de outra forma, ativassem manualmente o “modo adolescente”.</p>

  <h2>Referência em arte popular brasileira, Museu do Pontal inaugura nova sede no Rio</h2><p>No próximo 9 de outubro, o Museu do Pontal, referência internacional em arte popular brasileira, se instala em nova endereço no Rio: se despede da Estrada do Pontal – Recreio dos Bandeirantes para fixar suas mais de nove mil obras, de 300 artistas, na Barra da Tijuca. Seu acervo é considerado o maior do gênero e de relevância reconhecida pela Unesco. O local escolhido tem uma espaço de 14 mil m², sendo 10 mil de área verde, com paisagismo assinado pelo Escritório Burle Marx, onde estão plantadas dezenas de milhares de mudas de 73 espécies nativas brasileiras.</p>
  
  <a href="/apresentanoticias">apresentação de notícias</a>

  <a href= "https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></a>
</body>
</html>