<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>notícias</title>
  <a href= "https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
</head>
<body>
	<h2><a href="https://www.cnnbrasil.com.br/saude/brasil-ultrapassa-marca-de-50-da-populacao-adulta-vacinada-contra-a-covid-19/">Brasil ultrapassa marca de 50% da população adulta vacinada contra a Covid-19</a></h2>
  <h2><a href="https://www.cnnbrasil.com.br/tecnologia/versao-chinesa-do-tiktok-limita-uso-por-adolescente-a-40-minutos-diarios/">Versão chinesa do TikTok limita uso por adolescente a 40 minutos diários</a></h2>
  <h2><a href="https://viagemegastronomia.cnnbrasil.com.br/noticias/referencia-em-arte-popular-brasileira-museu-do-pontal-inaugura-nova-sede-no-rio/">Referência em arte popular brasileira, Museu do Pontal inaugura nova sede no Rio</a></h2>
  
  <a href=""

  <a href= "https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js">
</body>
</html>